@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #8FB9A8;
    --off-white: #F3F4F6;
    --dark-grey: #6B7280;
    --bg-colour: #3b2f35;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background-color: var(--bg-colour);
}

main {
    color: var(--primary-color);
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    margin-top: 5rem;
}

input {
    border: 1px solid var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

button {
    display: block;
    margin: auto;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: var(--bg-colour);
    font-size: larger;
    border: 1px solid var(--primary-color);
}

#result {
    margin: auto;
    text-align: center;
}